body {
  background-color:#ffffff;
}

/* .rectangle{
    height: 500px;
    width: 100 px;
} */

#mainTitle {
  text-align:left;
  color:#1836B2;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

#header {
  text-decoration: none;
}

#myInput {
  text-align: center;
  position: relative;
  left:110px;
}

#newSkill {
  color:black;
  text-align:center;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

.circle1 {
  height:200px;
  border-radius: 50%;
  width: 200px;
  padding: 3px;
  margin:auto;
  background-color:#dc3535ed;
}

#toDo {
  color:black;
  text-align:center;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

.circle2 {
  height:200px;
  border-radius: 50%;
  width: 200px;
  padding: 3px;
  margin:auto;
  background-color:#00803c;
}

#music {
  color:black;
  text-align:center;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

.circle3 {
  height:200px;
  border-radius: 50%;
  width: 200px;
  padding: 3px;
  margin:auto;
  background-color:whitesmoke;
}

.circle-shadow {
  transition: box-shadow .3s;
}

.circle-shadow:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.4); 
}

.row {
  padding-top: 150px;
}

#dicepic {
  display:block;
  width: 75%;
  height: 75%;
  margin: 20px 30px 20px 20px;
  padding: 10px;
}

#checkpic {
  display:block;
  width: 75%;
  height: 75%;
  margin: 30px 30px 30px 25px;
  padding: 10px;
}

#musicpic{
  display:block;
  width: 75%;
  height: 75%;
  margin: 30px 30px 30px 20px;
  padding: 10px;
}

  