body {
    background-color:#ffffff;
  }
  
#musicTitle {
    text-align:center;
    color:#1836B2;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

#myInput {
    text-align: center;
    position: relative;
    left:110px;
}

#Classical {
    color:cornflowerblue;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

.circle1 {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    margin:auto;
    background-color:cornflowerblue;
}

#Lofi {
    color:darkblue;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

.circle2 {
    height:200px;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    margin:auto;
    background-color:darkblue;
}

#Jazz {
    color:lightblue;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}
  
.circle3 {
    height:200px;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    margin:auto;
    background-color:lightblue;
}

#WhiteNoise {
    color:#20639b;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

.circle4 {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    margin:auto;
    background-color:#20639b;
}

#PeacefulGuitar {
    color:lightskyblue;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

.circle5 {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    margin:auto;
    background-color:lightskyblue;
}

#Ambient {
    color:#018abe;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}

.circle6 {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    margin:auto;
    background-color:#018abe;
}

.circle-shadow {
    transition: box-shadow .3s;
}

.circle-shadow:hover {
    box-shadow: 0 0 30px rgba(33,33,33,.8); 
}

.row {
    padding-top: 150px;
}