{% extends 'base.html' %}
{% block head %} 
{% endblock %} 

{% block body %} 
<script src="script.js"></script>
<div class="rectangle">
  <div class="container">

    <h1 id="mainTitle">Get-Me-Going</h1>

    <div class="row">
        <div class="col-lg-4">
            <a href="{{ url_for('newSkill') }}">
            <div class="circle1 circle-shadow">
                <img id="dicepic" src=".\img\dice.png"></img>
            </div>
          </a>
          <h3 id="newSkill">New Skill</h3>
        </div>
        
        <div class="col-lg-4">
           <a href="toDo.html">
          <div class="circle2 circle-shadow">
            <img id="checkpic" src=".\img\checkmark.png"></img>
          </div>
          
          </a>
          <h3 id="to-do">To-Do</h3>
         <!--- <input type = "text" id="myInput" placeholder="Items to do"> --> 
        </div>
  
        <div class="col-lg-4">
            <a href="{{ url_for('music') }}">
            <div class="circle3 circle-shadow"></div>
            </a>
          <h3 id="musicpic">Music</h3>
        </div>
      </div>
    </div>
</div>
<script src="script.js"></script>
{% endblock %}