{% extends 'base.html' %}
{% block head %} 
<div class="topnav">
  <link href="{{ url_for('static',filename='css/nav-bar.css') }}" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
  <a href="{{ url_for('index') }}">GET-ME-GOING</a>
  <a class="active" href="{{ url_for('newSkill') }}">New Skill</a>
  <a href="{{ url_for('toDo') }}">To-Do</a>
  <a href="{{ url_for('music') }}">Music</a>
</div>
{% endblock %} 

{% block body %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css" />
  <body>
    <div class="row">
      <div class="col">
        <div id="skill"></div>
      </div>
    </div>
  </body>
{% endblock %}