{% extends 'base.html' %}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/toDo.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
{% endblock %} 

{% block body %} 
  <a index="header" href="{{ url_for('index') }}">
    <h1 id="mainTitle">Get-Me-Going</h1>
  </a>

<h2 id="toDotitle">To Do List</h2>

<div class="col-lg-4">
<input type="text" id="myInput" placeholder="Items">
<button onclick="newElement()" class="button">Add </button>

</div>


<ul id="list">
<li>Pay bills </li>
</ul>
<script src="{{ url_for('static', filename='js/toDo.js') }}"></script>
{% endblock %}
