{% extends 'base.html' %}
{% block head %} 
<div class="topnav">
    <link href="{{ url_for('static',filename='css/nav-bar.css') }}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
    <a href="{{ url_for('index') }}">GET-ME-GOING</a>
    <a class="active" href="{{ url_for('toDo') }}">To-Do</a>
    <a href="{{ url_for('music') }}">Music</a>
</div>
{% endblock %} 

{% block body %} 
<link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/toDo.css') }}" type="text/css">

<h1 id="toDotitle">To Do List</h2>

<div class="col-lg-4">
    <input type="text" id="myInput" placeholder="Items">
    <button onclick="newElement()" class="button">Add</button>

</div>


<ul id="list">
<li>Pay bills </li>
<li>Wash dishes</li>
</ul>
<script src="{{ url_for('static', filename='js/toDo.js') }}"></script>
{% endblock %}
